@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron text-center">
    <h1>TÂM ANH</h1>
    <p class="lead">Tài sản quý nhất của doanh nghiệp chính là con người</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Phúc lợi và đãi ngộ</h2>
        <p>
            Minh bạch quyền lợi và đãi ngộ, thu hút và giữ chân nhân tài
            Tự động hoá C&B, quản lý ca & thời gian làm việc, chấm công và tính lương
            Kết nối với hệ thống BHXH và thuế TNCN tự động, giảm thời gian thực hiện nghiệp vụ
        </p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quy trình làm việc</h2>
        <p>Khách hàng hoàn toàn có thể tin tuởng vào hệ thống quản lý nhân sự của Tâm Anh, đảm bảo tuân thủ về thời gian và độ chính xác với khối luợng công việc hành chính.</p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Đào tạo & Phát triển</h2>
        <p>
            Tổng hợp dữ liệu, theo dõi năng lực cán bộ
            Đào tạo kịp thời, đảm bảo hiệu quả công việc, phát triển thế hệ lãnh đạo tương lai
            Quản lý, xây dựng và cá nhân hoá kế hoạch đào tạo với AMIS E-learning trực tuyến
        </p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
</div>
